In [1]:
# Load dependencies
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
# Load data
incidents = pd.read_csv("INCIDENTS.csv", low_memory=False)

display(incidents.head())

incOwnHist = pd.read_csv("INCIDENT_OWNER_HISTORY.csv", low_memory=False)

display(incOwnHist.head())

print(len(incOwnHist.index))

,TICKET_NMBR,PARENT_SERVICE,service,org_id,ASSIGNED_GROUP,OPEN_DATE,CLOSE_DATE,PRIORITY,STATUS,ACTUAL_COMPLETION_HRS,BUSINESS_COMPLETION_HRS,AGING,CLASS_STRUCTURE_ID,class_structure,CLASSIFICATION_ID,classification,EXTERNAL_SYSTEM,GLOBAL_TICKET_ID,CLOSURE_CODE,LAST_MODIFIED_DATE
0,IN10028612,Middleware,Middleware,1342.0,DC000152,01APR2016:00:01:16,01APR2016:08:26:30,Low,CLOSED,8.42,1.43,NaN,2101,IT Issue \ Hardware,2101,Hardware Issue,EVENTMANAGEMENT,NaN,OTH,12APR2016:05:30:11
1,IN10028613,Midrange,Midrange - Windows -X86,1342.0,NDS00032,01APR2016:00:35:21,11APR2016:11:06:12,Low,CLOSED,250.51,64.10,NaN,21,IT Issue,21,IT Issue,EVENTMANAGEMENT,NaN,CIS,22APR2016:05:30:33
2,IN10028614,Mainframe,Mainframe,1065.0,DC000155,01APR2016:01:43:26,01APR2016:10:28:51,Low,CLOSED,8.76,3.47,NaN,3102,IT Request \ Software Request,3102,Software Request,CREATEDFROMSR,NaN,SUP,12APR2016:05:30:09
3,IN10028615,High-performance Computing,High-performance Computing,1342.0,DC000133,01APR2016:02:57:00,01APR2016:07:42:08,Low,CLOSED,4.75,0.70,NaN,3102,IT Request \ Software Request,3102,Software Request,EVENTMANAGEMENT,NaN,OSD,12APR2016:05:30:10
4,IN10028616,NaN,-1,1342.0,NaN,01APR2016:05:21:02,01APR2016:05:23:39,Low,CLOSED,0.04,0.00,NaN,2103,IT Issue \ Networks,2103,Networks Issue,PHONECALL,NaN,AUT,11APR2016:05:30:07

,ticket_nmbr,STATUS,assigned_group,PARENT_SERVICE,service,CHANGE_DATE,TIME_IN_STATUS_BY_OWNER_HRS
0,IN10028612,QUEUED,DC000152,Middleware,Middleware,01APR2016:00:03:12,8.383333
1,IN10028612,RESOLVED,DC000152,Middleware,Middleware,01APR2016:08:26:30,0.000000
2,IN10028612,CLOSED,DC000152,Middleware,Middleware,12APR2016:05:30:11,NaN
3,IN10028613,QUEUED,NDS00032,Midrange,Midrange - Windows -X86,01APR2016:01:04:45,64.100000
4,IN10028613,RESOLVED,NDS00032,Midrange,Midrange - Windows -X86,11APR2016:11:06:12,0.000000

1152409

In [3]:
"""
Desc: Calculate the grouped average
Input: df (pandas DataFrame), gbCols (list of column names to groupby), 
       avgCols (list of column names to average), sortCols (list of column names to sort by),
       asc (boolean) - ascending or descending sort
Output: x (pandas DataFrame) - (sorted) dataframe with averages of specified columns
"""
def df_gb_avg(df, gbCols, avgCols, sortCols, asc=False):
    
    x = pd.DataFrame(df.groupby(gbCols)[avgCols].mean())
    
    x = x.sort_values(by=sortCols, ascending=asc)
    
    display(x)
    
    return x

# Incidents Owner History Data

In [4]:
# Average time incidents spend in particular status
avgTimeStatus = df_gb_avg(incOwnHist, ['STATUS'], ['TIME_IN_STATUS_BY_OWNER_HRS'], ['TIME_IN_STATUS_BY_OWNER_HRS'])

# Save to file
avgTimeStatus.to_csv("./AVGDATA/IOH_avgTimeStatus.csv")

# Average time incidents spend with assigned group
avgTimeAG = df_gb_avg(incOwnHist, ['assigned_group'], ['TIME_IN_STATUS_BY_OWNER_HRS'], ['TIME_IN_STATUS_BY_OWNER_HRS'])

# Save to file
avgTimeStatus.to_csv("./AVGDATA/IOH_avgTimeAG.csv")

# Average time incidents spend by parent service
avgTimePS = df_gb_avg(incOwnHist, ['PARENT_SERVICE'], ['TIME_IN_STATUS_BY_OWNER_HRS'], ['TIME_IN_STATUS_BY_OWNER_HRS'])

# Save to file
avgTimeStatus.to_csv("./AVGDATA/IOH_avgTimePS.csv")

# Average time incidents spend by service
avgTimeAG = df_gb_avg(incOwnHist, ['service'], ['TIME_IN_STATUS_BY_OWNER_HRS'], ['TIME_IN_STATUS_BY_OWNER_HRS'])

# Save to file
avgTimeStatus.to_csv("./AVGDATA/IOH_avgTimeServ.csv")

            TIME_IN_STATUS_BY_OWNER_HRS
STATUS
PENDINGREV                   209.543013
PENDINGCHG                   158.836006
AWAITVEN                     144.054339
SLAHOLD                      128.120452
AWAITCHG                     127.377065
PENDINGVEN                   102.631822
PENDINGCUS                    92.318825
AWAITCUS                      85.690441
PENDING                       68.230397
QUEUED                        47.523962
INPROG                        40.150039
HISTEDIT                      16.639815
NEW                            8.283333
RESOLVED                       0.147288
CLOSED                              NaN

                TIME_IN_STATUS_BY_OWNER_HRS
assigned_group
ITS00386                        2128.316667
SM000541                        1973.583333
EDC00080                        1771.750000
NW000468                        1766.233333
NSD00012                        1639.316667
...                                     ...
DC000265                                NaN
ITS00400                                NaN
NW000501                                NaN
PM000620                                NaN
SM000583                                NaN

[587 rows x 1 columns]

                                               TIME_IN_STATUS_BY_OWNER_HRS
PARENT_SERVICE
IT Continuity Support Service                                  1973.583333
Bulk Print                                                      377.007738
Solutions Integration Service (SIS)                             303.705000
WTD Provisioning                                                175.387931
Satellite                                                       135.465563
Intra-building Network Services                                  69.585276
Data Centre Facilities Management                                68.552445
Cloud Brokering                                                  63.118243
Firewall                                                         61.067085
Toll-free Voice                                                  55.636462
Secure Remote Access                                             51.493357
Distributed Print                                                50.740799
Classified Infrastructure                                        46.976953
Fixed Line                                                       45.723753
Government of Canada Managed Security Service                    45.552475
Contact Centre                                                   45.062572
Conferencing Services                                            43.938437
Other Activities                                                 43.391817
Storage                                                          38.900843
Email                                                            38.376691
Database                                                         36.900550
Directory Services                                               33.298446
High-performance Computing                                       30.110752
GC WAN                                                           29.611648
Internal Credential Management (ICM)                             28.351616
Mobile Devices                                                   23.581246
Midrange                                                         23.473131
Mainframe                                                        18.260883
Middleware                                                       16.563617
Workplace Technology Services                                    14.495464
Managed Secure File Transfer                                     13.037097

                                     TIME_IN_STATUS_BY_OWNER_HRS
service
IT Continuity Support Service                        1973.583333
WTD Provisioning                                      625.816667
Solutions Integration Service (SIS)                   428.064286
Bulk Print                                            377.007738
IBN - Cabling                                         346.957143
...                                                          ...
Managed Secure File Transfer                           13.037097
Mobile - Voice & Data                                  12.936081
Mainframe                                              12.075492
Fixed - Centrex                                         9.989080
HPC - Interaction & Visualization                       9.812861

[65 rows x 1 columns]

In [5]:
"""Group By Status"""
# Average time incidents spend with assigned group
avgTimeAG = df_gb_avg(incOwnHist, ['assigned_group', 'STATUS'],
                      ['TIME_IN_STATUS_BY_OWNER_HRS'], ['TIME_IN_STATUS_BY_OWNER_HRS'])

# Save to file
avgTimeStatus.to_csv("./AVGDATA/IOH_avgTimeAGStatus.csv")

# Average time incidents spend by parent service
avgTimePS = df_gb_avg(incOwnHist, ['PARENT_SERVICE', 'STATUS'],
                      ['TIME_IN_STATUS_BY_OWNER_HRS'], ['TIME_IN_STATUS_BY_OWNER_HRS'])

# Save to file
avgTimeStatus.to_csv("./AVGDATA/IOH_avgTimePSStatus.csv")

# Average time incidents spend by service
avgTimeAG = df_gb_avg(incOwnHist, ['service', 'STATUS'],
                      ['TIME_IN_STATUS_BY_OWNER_HRS'], ['TIME_IN_STATUS_BY_OWNER_HRS'])

# Save to file
avgTimeStatus.to_csv("./AVGDATA/IOH_avgTimeServStatus.csv")

                         TIME_IN_STATUS_BY_OWNER_HRS
assigned_group STATUS
ESI00052       AWAITCUS                  5550.833333
SM000541       INPROG                    3855.800000
NW000468       INPROG                    3530.733333
ITS00302       INPROG                    3306.866667
SM000575       INPROG                    2972.000000
...                                              ...
SM000582       CLOSED                            NaN
SM000583       QUEUED                            NaN
SM000585       CLOSED                            NaN
SM000586       CLOSED                            NaN
TIVMON         CLOSED                            NaN

[3585 rows x 1 columns]

                                                TIME_IN_STATUS_BY_OWNER_HRS
PARENT_SERVICE                      STATUS
IT Continuity Support Service       INPROG                      3855.800000
Middleware                          PENDINGCHG                  1504.883333
Database                            PENDINGCHG                  1503.183333
Mobile Devices                      PENDINGCHG                  1173.000000
Toll-free Voice                     PENDING                      931.566667
...                                                                     ...
Solutions Integration Service (SIS) CLOSED                              NaN
Storage                             CLOSED                              NaN
Toll-free Voice                     CLOSED                              NaN
WTD Provisioning                    CLOSED                              NaN
Workplace Technology Services       CLOSED                              NaN

[353 rows x 1 columns]

                                                  TIME_IN_STATUS_BY_OWNER_HRS
service                               STATUS
IT Continuity Support Service         INPROG                      3855.800000
Other - Project Management & Delivery AWAITCHG                    1743.341667
Middleware                            PENDINGCHG                  1504.883333
Database                              PENDINGCHG                  1503.183333
Solutions Integration Service (SIS)   INPROG                      1485.216667
...                                                                       ...
Storage - File                        CLOSED                              NaN
To be determined                      CLOSED                              NaN
Toll-free Voice                       CLOSED                              NaN
WTD - Hardware                        CLOSED                              NaN
Workplace Technology Services         CLOSED                              NaN

[688 rows x 1 columns]

# Incident Data

In [6]:
# Average completion time by status
avgCmplStatus = df_gb_avg(incidents, ['STATUS'],
                          ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                          ['ACTUAL_COMPLETION_HRS'])

# Save to file
avgCmplStatus.to_csv("./AVGDATA/Inc_avgCmplStatus.csv")

# Average completion time by parent service
avgCmplPS = df_gb_avg(incidents, ['PARENT_SERVICE'],
                      ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                      ['ACTUAL_COMPLETION_HRS'])

# Save to file
avgCmplPS.to_csv("./AVGDATA/Inc_avgCmplPS.csv")

# Average completion time by service
avgCmplServ = df_gb_avg(incidents, ['service'],
                        ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                        ['ACTUAL_COMPLETION_HRS'])

# Save to file
avgCmplServ.to_csv("./AVGDATA/Inc_avgCmplServ.csv")

# Average completion time by assigned group
avgCmplAG = df_gb_avg(incidents, ['ASSIGNED_GROUP'],
                      ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                      ['ACTUAL_COMPLETION_HRS'])

# Save to file
avgCmplAG.to_csv("./AVGDATA/Inc_avgCmplAG.csv")

# Average completion time by org id
# Note that sorting by business hours is different, probably due to data input error
avgCmplORG = df_gb_avg(incidents, ['org_id'],
                       ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                       ['ACTUAL_COMPLETION_HRS'])

avgBizORG = df_gb_avg(incidents, ['org_id'],
                      ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                      ['BUSINESS_COMPLETION_HRS'])

# Save to file
avgCmplORG.to_csv("./AVGDATA/Inc_avgCmplORG.csv")
avgBizORG.to_csv("./AVGDATA/Inc_avgBizORG.csv")

          ACTUAL_COMPLETION_HRS  BUSINESS_COMPLETION_HRS
STATUS
RESOLVED            1926.444107               553.146786
INPROG              1791.134000               508.100000
CLOSED               263.471013                80.581383
SLAHOLD               98.186667                28.856667
QUEUED                16.035000                 9.025000
AWAITVEN               1.590833                 0.238333
AWAITCHG                    NaN                      NaN
AWAITCUS                    NaN                      NaN

,ACTUAL_COMPLETION_HRS,BUSINESS_COMPLETION_HRS
PARENT_SERVICE,,
IT Continuity Support Service,14735.130000,4219.110000
Solutions Integration Service (SIS),4071.950000,1172.520000
Satellite,1750.180732,501.652927
Bulk Print,947.716667,269.763333
Firewall,490.807570,141.575320
Toll-free Voice,482.581790,136.183231
Contact Centre,454.087896,133.452783
Intra-building Network Services,450.760953,129.122458
Conferencing Services,447.047643,126.918488
Other Activities,401.593005,147.080824
Fixed Line,376.021624,107.172208
Data Centre Facilities Management,353.751450,102.967497
Classified Infrastructure,328.177442,95.382791
Storage,317.129786,90.471010
Government of Canada Managed Security Service,310.943732,92.592359
Secure Remote Access,302.479179,88.723682
High-performance Computing,260.660881,85.299092
Email,222.807302,64.335737
Managed Secure File Transfer,216.466111,60.176806
Directory Services,213.969048,61.177892
Cloud Brokering,206.779147,61.982326
GC WAN,193.965079,54.378259
Mobile Devices,186.636654,53.379909
Database,181.030026,51.323509
Internal Credential Management (ICM),179.777785,52.447131
Midrange,141.473640,39.615703
Distributed Print,137.112983,38.961303
Mainframe,119.144601,33.078515
Workplace Technology Services,113.633950,29.444811
WTD Provisioning,84.590000,27.363333
Middleware,59.232249,15.976003
Internet,57.955714,16.114286
Facilities-as-a-service (FaaS),3.460000,3.470000

,ACTUAL_COMPLETION_HRS,BUSINESS_COMPLETION_HRS
service,,
IT Continuity Support Service,14735.130000,4219.110000
Solutions Integration Service (SIS),4071.950000,1172.520000
Intra-building Network Services,2167.273525,620.715362
Satellite,1750.180732,501.652927
Mainframe - zOS & zLinux,1683.035082,480.606475
...,...,...
Other - Telecom & Network,78.888257,21.543248
Middleware,59.232249,15.976003
Internet,57.955714,16.114286
Service Management - Enterprise Control Center (ECC),30.550000,16.550000
Faciltiies-as-a-service (FaaS),3.460000,3.470000

                ACTUAL_COMPLETION_HRS  BUSINESS_COMPLETION_HRS
ASSIGNED_GROUP
DC000157                     16104.71                  4610.70
NW000435                     15457.16                  4431.16
SM000541                     14735.13                  4219.11
DC000213                     10588.50                  3034.49
SM000575                     10558.17                  3020.00
...                               ...                      ...
NW000516                          NaN                      NaN
PM000620                          NaN                      NaN
SM000552                          NaN                      NaN
SM000573                          NaN                      NaN
SM000583                          NaN                      NaN

[459 rows x 2 columns]

        ACTUAL_COMPLETION_HRS  BUSINESS_COMPLETION_HRS
org_id
918.0                2984.790               843.215000
1237.0               2567.195               732.470000
948.0                1482.200               416.270000
1083.0               1417.575               413.983750
1085.0               1388.190               393.813333
...                       ...                      ...
988.0                  22.405                 5.785000
1732.0                 14.980                 8.200000
1232.0                 10.060                 0.000000
837.0                   0.780                 0.770000
1248.0                    NaN                      NaN

[71 rows x 2 columns]

        ACTUAL_COMPLETION_HRS  BUSINESS_COMPLETION_HRS
org_id
918.0                2984.790               843.215000
1237.0               2567.195               732.470000
948.0                1482.200               416.270000
1083.0               1417.575               413.983750
1085.0               1388.190               393.813333
...                       ...                      ...
1732.0                 14.980                 8.200000
988.0                  22.405                 5.785000
837.0                   0.780                 0.770000
1232.0                 10.060                 0.000000
1248.0                    NaN                      NaN

[71 rows x 2 columns]

In [7]:
"""Group by Priority"""
# Average completion time by status
avgCmplStatus = df_gb_avg(incidents, ['STATUS', 'PRIORITY'],
                          ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                          ['ACTUAL_COMPLETION_HRS'])

# Save to file
avgCmplStatus.to_csv("./AVGDATA/Inc_avgCmplStatus_pr.csv")

# Average completion time by parent service
avgCmplPS = df_gb_avg(incidents, ['PARENT_SERVICE', 'PRIORITY'],
                      ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                      ['ACTUAL_COMPLETION_HRS'])

# Save to file
avgCmplPS.to_csv("./AVGDATA/Inc_avgCmplPS_pr.csv")

# Average completion time by service
avgCmplServ = df_gb_avg(incidents, ['service', 'PRIORITY'],
                        ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                        ['ACTUAL_COMPLETION_HRS'])

# Save to file
avgCmplServ.to_csv("./AVGDATA/Inc_avgCmplServ_pr.csv")

# Average completion time by assigned group
avgCmplAG = df_gb_avg(incidents, ['ASSIGNED_GROUP', 'PRIORITY'],
                      ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                      ['ACTUAL_COMPLETION_HRS'])

# Save to file
avgCmplAG.to_csv("./AVGDATA/Inc_avgCmplAG_pr.csv")

# Average completion time by org id
# Note that sorting by business hours is different, probably due to data input error
avgCmplORG = df_gb_avg(incidents, ['org_id', 'PRIORITY'],
                       ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                       ['ACTUAL_COMPLETION_HRS'])

avgBizORG = df_gb_avg(incidents, ['org_id', 'PRIORITY'],
                      ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                      ['BUSINESS_COMPLETION_HRS'])

# Save to file
avgCmplORG.to_csv("./AVGDATA/Inc_avgCmplORG_pr.csv")
avgBizORG.to_csv("./AVGDATA/Inc_avgBizORG_pr.csv")

                   ACTUAL_COMPLETION_HRS  BUSINESS_COMPLETION_HRS
STATUS   PRIORITY
RESOLVED Low                 2189.252234               627.426383
INPROG   Medium              1905.213333               547.850000
         Low                 1620.015000               448.475000
RESOLVED Medium              1592.606757               458.791622
CLOSED   High                 390.950069               390.950069
         Low                  265.415804                75.782776
         Medium               250.074190                72.515202
SLAHOLD  Medium               145.675000                41.675000
QUEUED   Low                   28.370000                14.370000
AWAITVEN Medium                 8.396667                 0.000000
QUEUED   Medium                 3.700000                 3.680000
SLAHOLD  Low                    3.210000                 3.220000
AWAITVEN Low                   -0.677778                 0.317778
AWAITCHG Low                         NaN                      NaN
         Medium                      NaN                      NaN
AWAITCUS High                        NaN                      NaN
         Low                         NaN                      NaN
         Medium                      NaN                      NaN
INPROG   High                        NaN                      NaN
QUEUED   High                        NaN                      NaN
SLAHOLD  High                        NaN                      NaN

                                              ACTUAL_COMPLETION_HRS  \
PARENT_SERVICE                      PRIORITY
IT Continuity Support Service       Medium             14735.130000
Solutions Integration Service (SIS) Low                 4071.950000
Other Activities                    High                2889.018672
Satellite                           Medium              1934.070000
                                    Low                 1674.088621
...                                                             ...
Database                            High                   6.059524
Internet                            Medium                 3.485000
Facilities-as-a-service (FaaS)      Medium                 3.460000
Bulk Print                          Medium                 1.395000
Distributed Print                   High                   0.410000

                                              BUSINESS_COMPLETION_HRS
PARENT_SERVICE                      PRIORITY
IT Continuity Support Service       Medium                4219.110000
Solutions Integration Service (SIS) Low                   1172.520000
Other Activities                    High                  2889.018672
Satellite                           Medium                 556.036667
                                    Low                    479.149310
...                                                               ...
Database                            High                     6.059524
Internet                            Medium                   3.490000
Facilities-as-a-service (FaaS)      Medium                   3.470000
Bulk Print                          Medium                   1.400000
Distributed Print                   High                     0.410000

[86 rows x 2 columns]

,,ACTUAL_COMPLETION_HRS,BUSINESS_COMPLETION_HRS
service,PRIORITY,,
IT Continuity Support Service,Medium,14735.130000,4219.110000
Other - Service Management,High,4182.539430,4182.539430
Solutions Integration Service (SIS),Low,4071.950000,1172.520000
Mainframe - zOS & zLinux,Medium,2985.219048,853.122857
Intra-building Network Services,Low,2541.930014,726.203804
...,...,...,...
Faciltiies-as-a-service (FaaS),Medium,3.460000,3.470000
Bulk Print,Medium,1.395000,1.400000
Distributed Print,High,0.410000,0.410000
High-performance Computing,Medium,-45.353522,88.691748
Other - Account & Service Delivery Management,Medium,NaN,NaN

                         ACTUAL_COMPLETION_HRS  BUSINESS_COMPLETION_HRS
ASSIGNED_GROUP PRIORITY
EDC00031       High                 255749.272               255749.272
DC000157       Medium                16104.710                 4610.700
NW000435       Low                   15457.160                 4431.160
SM000541       Medium                14735.130                 4219.110
NW000441       Medium                13967.890                 4019.900
...                                        ...                      ...
PM000620       Low                         NaN                      NaN
SM000500       Medium                      NaN                      NaN
SM000552       Low                         NaN                      NaN
SM000573       Low                         NaN                      NaN
SM000583       Medium                      NaN                      NaN

[1004 rows x 2 columns]

                 ACTUAL_COMPLETION_HRS  BUSINESS_COMPLETION_HRS
org_id PRIORITY
918.0  Low                 5966.890000              1683.750000
1237.0 Low                 4763.150000              1364.160000
1083.0 Low                 1874.788333               545.903333
1085.0 Medium              1648.095000               471.575000
1260.0 Medium              1486.845000               423.850000
...                                ...                      ...
918.0  Medium                 2.690000                 2.680000
1202.0 High                   2.210000                 2.210000
837.0  Medium                 0.780000                 0.770000
988.0  Low                    0.260000                 0.250000
1248.0 Medium                      NaN                      NaN

[182 rows x 2 columns]

                 ACTUAL_COMPLETION_HRS  BUSINESS_COMPLETION_HRS
org_id PRIORITY
918.0  Low                 5966.890000              1683.750000
1032.0 High                1409.740000              1409.740000
1237.0 Low                 4763.150000              1364.160000
1342.0 High                1173.525417              1173.525417
1303.0 High                 615.028571               615.028571
...                                ...                      ...
1732.0 Low                   15.310000                 1.750000
837.0  Medium                 0.780000                 0.770000
988.0  Low                    0.260000                 0.250000
1232.0 Medium                10.060000                 0.000000
1248.0 Medium                      NaN                      NaN

[182 rows x 2 columns]

In [8]:
"""Group by Priority and Status"""
# Average completion time by parent service
avgCmplPS = df_gb_avg(incidents, ['PARENT_SERVICE', 'PRIORITY', 'STATUS'],
                      ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                      ['ACTUAL_COMPLETION_HRS'])

# Save to file
avgCmplPS.to_csv("./AVGDATA/Inc_avgCmplPS_pr_stat.csv")

# Average completion time by service
avgCmplServ = df_gb_avg(incidents, ['service', 'PRIORITY', 'STATUS'],
                        ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                        ['ACTUAL_COMPLETION_HRS'])

# Save to file
avgCmplServ.to_csv("./AVGDATA/Inc_avgCmplServ_pr_stat.csv")

# Average completion time by assigned group
avgCmplAG = df_gb_avg(incidents, ['ASSIGNED_GROUP', 'PRIORITY', 'STATUS'],
                      ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                      ['ACTUAL_COMPLETION_HRS'])

# Save to file
avgCmplAG.to_csv("./AVGDATA/Inc_avgCmplAG_pr_stat.csv")

# Average completion time by org id
# Note that sorting by business hours is different, probably due to data input error
avgCmplORG = df_gb_avg(incidents, ['org_id', 'PRIORITY', 'STATUS'],
                       ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                       ['ACTUAL_COMPLETION_HRS'])

avgBizORG = df_gb_avg(incidents, ['org_id', 'PRIORITY', 'STATUS'],
                      ['ACTUAL_COMPLETION_HRS', 'BUSINESS_COMPLETION_HRS'],
                      ['BUSINESS_COMPLETION_HRS'])

# Save to file
avgCmplORG.to_csv("./AVGDATA/Inc_avgCmplORG_pr_stat.csv")
avgBizORG.to_csv("./AVGDATA/Inc_avgBizORG_pr_stat.csv")

                                                        ACTUAL_COMPLETION_HRS  \
PARENT_SERVICE                       PRIORITY STATUS
IT Continuity Support Service        Medium   CLOSED             14735.130000
Midrange                             Medium   RESOLVED            6480.886667
Internal Credential Management (ICM) Medium   INPROG              5571.140000
Solutions Integration Service (SIS)  Low      CLOSED              4071.950000
GC WAN                               Low      RESOLVED            3144.222000
...                                                                       ...
Storage                              Medium   INPROG                      NaN
                                              QUEUED                      NaN
                                              SLAHOLD                     NaN
Toll-free Voice                      Medium   AWAITCUS                    NaN
                                              QUEUED                      NaN

                                                        BUSINESS_COMPLETION_HRS
PARENT_SERVICE                       PRIORITY STATUS
IT Continuity Support Service        Medium   CLOSED                4219.110000
Midrange                             Medium   RESOLVED              1860.883333
Internal Credential Management (ICM) Medium   INPROG                1603.150000
Solutions Integration Service (SIS)  Low      CLOSED                1172.520000
GC WAN                               Low      RESOLVED               903.798000
...                                                                         ...
Storage                              Medium   INPROG                        NaN
                                              QUEUED                        NaN
                                              SLAHOLD                       NaN
Toll-free Voice                      Medium   AWAITCUS                      NaN
                                              QUEUED                        NaN

[268 rows x 2 columns]

                                                        ACTUAL_COMPLETION_HRS  \
service                              PRIORITY STATUS
IT Continuity Support Service        Medium   CLOSED             14735.130000
Midrange - Windows -X86              Medium   RESOLVED            6480.886667
Data Centre Facilities Management    Medium   RESOLVED            6382.660000
Internal Credential Management (ICM) Medium   INPROG              5571.140000
Other - Internal Services & Strategy Low      RESOLVED            4613.043333
...                                                                       ...
Storage - File                       Low      INPROG                      NaN
                                     Medium   AWAITCUS                    NaN
                                              INPROG                      NaN
Toll-free Voice                      Medium   AWAITCUS                    NaN
                                              QUEUED                      NaN

                                                        BUSINESS_COMPLETION_HRS
service                              PRIORITY STATUS
IT Continuity Support Service        Medium   CLOSED                4219.110000
Midrange - Windows -X86              Medium   RESOLVED              1860.883333
Data Centre Facilities Management    Medium   RESOLVED              1818.670000
Internal Credential Management (ICM) Medium   INPROG                1603.150000
Other - Internal Services & Strategy Low      RESOLVED              1321.710000
...                                                                         ...
Storage - File                       Low      INPROG                        NaN
                                     Medium   AWAITCUS                      NaN
                                              INPROG                        NaN
Toll-free Voice                      Medium   AWAITCUS                      NaN
                                              QUEUED                        NaN

[444 rows x 2 columns]

                                  ACTUAL_COMPLETION_HRS  \
ASSIGNED_GROUP PRIORITY STATUS
EDC00031       High     CLOSED               255749.272
DC000157       Medium   RESOLVED              16104.710
NW000435       Low      CLOSED                15457.160
SM000541       Medium   CLOSED                14735.130
NW000441       Medium   CLOSED                13967.890
...                                                 ...
SM000585       Medium   INPROG                      NaN
SM000586       Low      AWAITCUS                    NaN
                        SLAHOLD                     NaN
               Medium   AWAITCUS                    NaN
                        SLAHOLD                     NaN

                                  BUSINESS_COMPLETION_HRS
ASSIGNED_GROUP PRIORITY STATUS
EDC00031       High     CLOSED                 255749.272
DC000157       Medium   RESOLVED                 4610.700
NW000435       Low      CLOSED                   4431.160
SM000541       Medium   CLOSED                   4219.110
NW000441       Medium   CLOSED                   4019.900
...                                                   ...
SM000585       Medium   INPROG                        NaN
SM000586       Low      AWAITCUS                      NaN
                        SLAHOLD                       NaN
               Medium   AWAITCUS                      NaN
                        SLAHOLD                       NaN

[1474 rows x 2 columns]

                          ACTUAL_COMPLETION_HRS  BUSINESS_COMPLETION_HRS
org_id PRIORITY STATUS
1055.0 Medium   RESOLVED            6437.906667              1847.866667
1273.0 Medium   RESOLVED            6382.660000              1818.670000
918.0  Low      CLOSED              5966.890000              1683.750000
1045.0 Medium   RESOLVED            5835.846667              1674.343333
1047.0 Low      RESOLVED            5672.427500              1623.267500
...                                         ...                      ...
1355.0 Medium   AWAITCUS                    NaN                      NaN
1377.0 High     QUEUED                      NaN                      NaN
       Low      INPROG                      NaN                      NaN
       Medium   QUEUED                      NaN                      NaN
1753.0 Medium   QUEUED                      NaN                      NaN

[473 rows x 2 columns]

                          ACTUAL_COMPLETION_HRS  BUSINESS_COMPLETION_HRS
org_id PRIORITY STATUS
1055.0 Medium   RESOLVED            6437.906667              1847.866667
1273.0 Medium   RESOLVED            6382.660000              1818.670000
918.0  Low      CLOSED              5966.890000              1683.750000
1045.0 Medium   RESOLVED            5835.846667              1674.343333
1047.0 Low      RESOLVED            5672.427500              1623.267500
...                                         ...                      ...
1355.0 Medium   AWAITCUS                    NaN                      NaN
1377.0 High     QUEUED                      NaN                      NaN
       Low      INPROG                      NaN                      NaN
       Medium   QUEUED                      NaN                      NaN
1753.0 Medium   QUEUED                      NaN                      NaN

[473 rows x 2 columns]